<div class="row">
  <div class="col-lg-12">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <ng-container *ngFor="let attr of dataObject">
          <ng-container *ngIf="attr.key.indexOf('Readonly')<0 && attr.key.toUpperCase().indexOf('COMMENTS')<0">
            <ng-container [matColumnDef]="attr.key">
              <mat-header-cell *matHeaderCellDef>{{attr.key}}</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element[attr.key]}} </mat-cell>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="attr.key.toUpperCase().indexOf('COMMENTS')>=0">
            <ng-container [matColumnDef]="attr.key">
              <mat-header-cell *matHeaderCellDef>
                <button mat-button class="btn btn-default" [matMenuTriggerFor]="menu">Download</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="downloadCSV()">CSV</button>
                  <button mat-menu-item (click)="downloadExcel()">Excel</button>
                </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <textarea class="form-control" rows="5" id="comment" disabled>{{element[attr.key]}}</textarea>
              </mat-cell>
            </ng-container>
          </ng-container>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayColumnHeader"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumnHeader;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>