<h1 mat-dialog-title>Table Data</h1>
<div mat-dialog-content>
  <div class="row" *ngFor="let item of data">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <div class="form-group">
        <label for="">{{item.key}}</label>
        <span class="required" *ngIf="item.key.toUpperCase().indexOf('COMMENTS')>=0 && dataInternal.isError">Comments is required</span>
        <input type="text" *ngIf="item.key.toUpperCase().indexOf('COMMENTS')<0" class="form-control" id="modalid" [(ngModel)]="item.value">
        <textarea *ngIf="item.key.toUpperCase().indexOf('COMMENTS')>=0" class="form-control" rows="5" id="comment"  [(ngModel)]="dataInternal.comments"></textarea>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <!--<button class="btn btn-primary"  [mat-dialog-close]="data.animal" cdkFocusInitial>Submit</button> &nbsp;&nbsp;-->
  <button class="btn btn-primary" (click)="onSubmitClick(data)"  cdkFocusInitial>Submit</button> &nbsp;&nbsp;
  <button class="btn btn-default" (click)="onNoClick()">Cancel</button>
</div>