<div class="row">
  <div class="col-lg-12">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <ng-container *ngFor="let attr of dataObject">
          <ng-container *ngIf="attr.key.indexOf('Readonly')<0 && attr.key.toUpperCase().indexOf('COMMENTS')<0">
            <ng-container [matColumnDef]="attr.key">
              <mat-header-cell *matHeaderCellDef>{{attr.key}}</mat-header-cell>
              <mat-cell *matCellDef="let selement"> {{selement[attr.key]}} </mat-cell>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="attr.key.indexOf('Readonly')>=0 && attr.key.toUpperCase().indexOf('COMMENTS')<0">
            <ng-container [matColumnDef]="attr.key">
              <mat-header-cell *matHeaderCellDef>{{attr.key}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <app-edit-popup [itemid]="attr.index" [tableContent]="{'data':row,column:displayColumnHeader}" (tableContentStatusChange)='tableContentStatusChange(event)'></app-edit-popup>
              </mat-cell>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="attr.key.toUpperCase().indexOf('COMMENTS')>=0">
            <ng-container [matColumnDef]="attr.key">
              <mat-header-cell *matHeaderCellDef>
                <button mat-button class="btn btn-default" [matMenuTriggerFor]="menu">Download</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="downloadCSV()">CSV</button>
                  <button mat-menu-item (click)="downloadExcel()">Excel</button>
                </mat-menu>
              </mat-header-cell>
              <!--<mat-header-cell *matHeaderCellDef>{{attr.key}}</mat-header-cell>-->
              <mat-cell *matCellDef="let selement">
                <textarea class="form-control" rows="5" id="comment" disabled>{{selement[attr.key]}}</textarea>
              </mat-cell>
            </ng-container>
          </ng-container>
        </ng-container>
        <!--<ng-container [matColumnDef]="readonly">
      <mat-header-cell *matHeaderCellDef> Read only </mat-header-cell>
      <mat-cell *matCellDef="let element"><app-edit-popup [itemid]="element.report" [tableContent]="dataSource" (tableContentStatusChange)='tableContentStatusChange(event)'></app-edit-popup></mat-cell>
    </ng-container>

    <ng-container matColumnDef="report">
      <mat-header-cell *matHeaderCellDef>Report</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.report}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="datasetname">
      <mat-header-cell *matHeaderCellDef>DataSet</mat-header-cell>
      <mat-cell *matCellDef="let element"> <p *ngFor="let item of element.datasetname">{{item}}</p></mat-cell>
    </ng-container>
    <ng-container matColumnDef="Edit sec">
      <mat-header-cell *matHeaderCellDef>Download Option 
        <select class="form-control" id="downloadoptions">
              <option>PDF</option>
              <option>Excel</option>
              <option>Docs</option>
          </select>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <textarea class="form-control" rows="5" id="comment" disabled>{{element.comments}}</textarea>
     </mat-cell>
    </ng-container>-->
        <mat-header-row *matHeaderRowDef="displayColumnHeader"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumnHeader;"></mat-row>
      </mat-table>
      <div class="row ">
        <div class="col-md-offset-6 col-md-2 form-group">
          <label for="sel1">Select Page#:</label>
        </div>
        <div class="col-md-3 form-group">
          <select class="form-control" id="sel1" (change)="onChangePage($event)">
            <option *ngFor="let pageNumber of PageNumberList" value="pageNumber">{{pageNumber}}</option>
         </select>
        </div>
      </div>
      <!--<mat-paginator #paginator [pageSize]="dataSource.data.length" [pageSizeOptions]="pageOptions">
      </mat-paginator>-->
    </div>
  </div>
</div>