<div class="well-sm  text-center">
  <h2>Login</h2>
</div>
<form #loginForm="ngForm">
  <div [hidden]="loginForm.submitted">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <app-input-box #username [label]="'User name:'" [id]="'username'" [type]="'text'" (ivaluechange)='valuechange($event)' [ivalue]='logindata.username'></app-input-box>
        <app-input-box #password [label]="'Passowrd:'" [id]="'password'" [type]="'password'" (ivaluechange)='valuechange($event)' [ivalue]='logindata.password'></app-input-box>
        <div *ngIf="isError" class="panel panel-danger">
          <div class="panel-heading">Login Failed. Username or Passowrd wrong!.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-6 topPadding">
        <button type="button" class="btn btn-primary" (click)="loginData(logindata)">Login</button>
        <button type="button" class="btn btn-default">Register</button>
      </div>
    </div>
  </div>
</form>